<!DOCTYPE html>
<html lang="en" >

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>AirLine Ticket Reservation</title>
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="functions.js"></script>
</head>

<body id="BodyId">

<div id="mainDiv">
    <div id="titleDiv">
        <p id="Title">AirLine Ticket Reservation System</p>
    </div>

    <div id="divForm">
        <form id="formLogin" name="loginForm" action="../Controller/Controller.php" method="post">

            <label for="loginUserNameID"><b><span style="font-size: 20px">UserID</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></label>
            <input id="loginUserNameID" name="userName" type="email" style="font-size: 12pt; width: 400px" required>
            <br><br>
            <label for="loginPasswordID"><b><span style="font-size: 20px">Password</span>&nbsp;</b></label>
            <input id="loginPasswordID" name="password" type="password"  style="font-size: 12pt; width: 400px" required>
            <br><br>
            <input type="submit" value="Login" name="loginButton" style="font-size: 15px">
        </form>

        <form id="formSignUp" name="signUpForm" action="../Controller/Controller.php" method="post">
            <label for="signUpUserNameID"><b><span style="font-size: 20px">UserID</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></label>
            <input id="signUpUserNameID" name="userName" type="email" style="font-size: 12pt; width: 400px" required>
            <br><br>
            <label for="signUpPasswordID"><b><span style="font-size: 20px">Password</span>&nbsp;</b></label>
            <input id="signUpPasswordID" name="password" type="password"  style="font-size: 12pt; width: 400px" required>
            <br><br>
            <input type="submit" value="Sign up" name="signUpButton" style="font-size: 15px">
        </form>
    </div>
</div>

<div class="sidenav">
    <a class="show_form" href="#" onclick="showSignUpForm()">Sign up</a>
    <a class="show_form" href="#" onclick="showLoginForm()">Login</a>
    <a class="show_form" href="#">Buy</a>
    <a class="show_form" href="#">Update</a>
</div>

<div class="plane">
    <div class="cockpit">
        <h1>Please select a seat</h1>
    </div>
    <ol class="fuselage" id="cabin">
        <script>
            initSeat();
        </script>
    </ol>
</div>

</body>

</html>